*.bag
*.log
.vscode/
logs/
*.h5
Duckietown Quick Reference
__pycache__
trainedModel
output/
.idea/
.idea
.resolved
trainlogs/
trainlogs
*.resolved
requirements.resolved
!duckieChallenger/FrankNet.h5
!duckieTrainer/train.log